<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Origin Trial Token -->
    <meta http-equiv="origin-trial"
          content="AkK15PCT/JQzZOG2MuAyNPO4fR1U0rtIhLAogFay1cDTMLL2ulyBPKWiTiGdPa5FIzAHDC2yC+7mF/YBe+tI0g8AAABaeyJvcmlnaW4iOiAiaHR0cHM6Ly92ZW5zaS5naXRodWIuaW86NDQzIiwgImZlYXR1cmUiOiAiV2ViQmx1ZXRvb3RoIiwgImV4cGlyeSI6IDE0NzMyNjQ4NDV9"/>
    <title>Hayward</title>
    <link rel='stylesheet prefetch'
          href='//cdnjs.cloudflare.com/ajax/libs/angular-material/0.9.7/angular-material.min.css'>
    <link rel="stylesheet" href="style.css">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.2/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.5/angular-nvd3.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
<!--<script src="https://vensi.github.io/blueapp.io/latest/blueapp.io.min.js"></script>-->
<script src="./blueapp.io.js"></script>

<script src="hayward.js"></script>
<script src="settings.js"></script>
<script src="app.js"></script>


<body ng-app="hayward" class="thing">
<div ng-controller="mainController as main" md-theme-watch="true">
    povezan: {{hayward.radi}}
    <br/>
    servisi: {{hayward.testVrednost}}
    <div class="layout-wrap layout-row flex-100" layout="row" flex="100" layout-wrap="" layout-align="start start">
        <div ng-repeat="peripheral in hayward.peripherals" class="mr-30" ng-show="peripheral.finalValue">
            <div layout="column" flex="100" flex-gt-lg="20" flex-gt-sm="50" flex-gt-md="33"
                 class="layout-column flex-gt-sm-20 flex-100 box-height mb-10">
                <div layout="row" layout-align="start end">
                    <div class="current-font">{{peripheral.userGivenName}}</div>
                    <div style="padding-left: 193px;" ng-if="peripheral.finalValue">
                        <md-button class="md-icon-button md-primary hover" aria-label="Settings"
                                   style="width: 35px; height: 35px; margin-top:5px; background-color: white"
                                   ng-click="showSettingsDialog($event, peripheral)">
                            <ng-md-icon icon="settings"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
                <div ng-show="peripheral.graph =='gauge' && peripheral.valid == true">
                    <div id="{{'container-speed-'+peripheral.trim_uuid}}"
                         style="color: #03A9F4; font-size: 72px; line-height: 72px; width: 300px; height: 200px;">
                    </div>
                </div>
                <div style="font-size: 72px; line-height: 72px; padding-top: 9px; margin-top: 20px"
                     class="centered  layout-align-center-center ng-binding box-height mb-10" layout="column"
                     layout-align="center center" ng-show="peripheral.graph =='text'">
                    <div style="color: #03A9F4; font-size: 64px;" ng-if="!peripheral.alarmEnable">
                        {{peripheral.finalValue}}
                    </div>
                    <div style="color: #ef0a3b; font-size: 64px;" ng-if="peripheral.alarmEnable">
                        {{peripheral.finalValue}}
                    </div>
                    <sub style="color: #03A9F4; font-size: 30px;"> {{peripheral.units}} </sub>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>