<div fxLayout="column" fxFlex="100" style="width: 100%">
  <mat-toolbar style="background-color: white" fxFlex="100" fxLayoutAlign="center center">
    <div fxFlex="100" fxLayoutAlign="start center" fxLayout="column">
      <h2>User details</h2>
    </div>
  </mat-toolbar>

  <mat-list fxFlex="100">
    <mat-list-item>
      Display name:&nbsp;{{displayName}}
    </mat-list-item>
    <mat-list-item>
      ID:&nbsp;{{id}}
    </mat-list-item>
    <mat-list-item>
      Number of followers:&nbsp;{{numberOfFollowers}}
    </mat-list-item>
  </mat-list>
</div>
