<div fxLayout="column" fxFlex="100" style="width: 100%">
  <mat-toolbar style="background-color: white" fxFlex="100" fxLayoutAlign="center center">
    <div fxFlex="100" fxLayoutAlign="start center" fxLayout="column">
      <h2>Track details</h2>
    </div>
  </mat-toolbar>
  <mat-list fxFlex="100">
    <mat-list-item>
      Name:&nbsp;{{name}}
    </mat-list-item>
    <mat-list-item>
      Album:&nbsp;{{album}}
    </mat-list-item>
    <mat-list-item>
      Disc number:&nbsp;{{discNumber}}
    </mat-list-item>
    <mat-list-item>
      Track number:&nbsp;{{trackNumber}}
    </mat-list-item>
    <mat-list-item>
      Popularity:&nbsp;{{popularity}}
    </mat-list-item>
    <mat-list-item>
      Duration:&nbsp;{{duration}}
    </mat-list-item>
  </mat-list>
</div>
